MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=borz33
MYSQL_USER=borz33
MYSQL_PASSWORD=borz33
MYSQL_PORT=3307

PLANS_PORT=8000
API_PORT=8080
PHPMYADMIN_PORT=8081
ADMIN_PORT=5173

ADMIN_EMAIL=admin@borz33.local
ADMIN_PASSWORD=admin12345
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Borz33

MAIL_DSN=smtp://mailpit:1025
MAIL_FROM_ADDRESS=noreply@borz33.local
MAIL_FROM_NAME=Borz33
MAILPIT_UI_PORT=8026
