.env
.idea/
.vscode/
*.log
node_modules/
vendor/
dist/
.tmp/
.npm-cache/
admin/.npm-cache/
/storage/invoices/**
api/public/uploads/**
!api/public/uploads/.gitkeep
storage/
.env.production
Problems.md
